# Entornos virtuales
venv/
env/
.venv/

# Cachés de Python y tests
__pycache__/
*.pyc
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# Archivos generados por el proyecto (Datos y Reportes)
# Ignoramos esto para no subir megas de datos de la SEC o yfinance a GitHub
cache/
reports/

# IDE y Sistema Operativo
.vscode/
.DS_Store

# Variables de entorno y secretos
.env